# Unity项目忽略文件

# Unity生成的文件和文件夹
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.utmp/

# MemoryCaptures可以获取大量内存转储
[Mm]emoryCaptures/

# 录制文件可能会很大
[Rr]ecordings/

# 资源导入处理器的临时文件
.import/

# 自动生成的VS/MD/Consulo解决方案和项目文件
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D生成的元数据
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D生成的崩溃报告
sysinfo.txt

# Mono自动生成的文件
mono_crash.*

# 构建
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
*.unity3d
*.prefab

# 崩溃转储
*.stackdump

# Crashlytics生成的文件
crashlytics-build.properties

# TestRunner生成的文件
InitTestScene*.unity*

# Addressables默认忽略
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting自动生成的文件
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# 操作系统文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 编辑器文件
.vscode/
.idea/
*.swp
*.swo
.vs/
.gradle/

# 网页部署相关
node_modules/
package-lock.json

# Blender临时文件
*.blend1
*.blend1.meta

# 日志文件
*.log
